.App {
  min-width: 900px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  height: 100vh;
}

.paragraph {
  box-sizing: border-box;
  padding: 2em;
  width: 90%;
  margin: 2em auto;
  background-color: black;
  color: white;
  border-radius: 20px;
}

.paragraph > div {
  font-size: 2em;
  text-align: center;
  line-height: 3rem;
}

.char {
  font-size: 2em;
}

.score {
  flex-grow: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  font-weight: 600;
  font-family: fantasy;
}

.timer {
  width: 90%;
  height: 20px;
  margin: 2em auto;
  margin-top: 1em;
  background: white;
  border-radius: 20px;
  border: 2px solid black;
}

.bar {
  width: 0%;
  height: 20px;
  background: black;
  border-radius: 20px;
}

.timeout {
  height: 50vh;
  width: 75%;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0px;
  background-color: black;
  z-index: 10;
  color: white;
  font-weight: 700;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
